@model IEnumerable<CESIZen.Models.Information>

@{
    ViewData["Title"] = "Informations";
}

<h1>Informations utiles</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Information du @item.DateCreation.ToString("dd/MM/yyyy")</h5>
                    <p class="card-text">@Html.Raw(item.Contenu)</p>
                </div>
            </div>
        </div>
    }
</div>